<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Возвраст</th>
        </tr>
        </thead>
        <tbody th:each="client: ${clientList}">
            <tr>
                <td th:text="${client.id}"></td>
                <td th:text="${client.name}"></td>
                <td th:text="${client.age}"></td>
                <td>
                    <form th:action="@{/clients/delete}" method="post">
                        <input type="hidden" name="clientId" th:value="${client.id}" />
                        <button type="submit">Удалить</button>
                    </form>

                </td>

            </tr>
        </tbody>

    </table>
    <form th:action="@{/}" method="get">
        <button type="submit">На главную</button>
    </form>
</head>
<body>

</body>
</html>